force-app/main/default/flows/Amount_Due_Recalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>CalculateDueAmount</name>
        <label>CalculateDueAmount</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Balance_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Update_Balance_Due_Amount</name>
        <label>Update Balance Due Amount</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_balance_Due</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalculateDueAmount</targetReference>
            </connector>
            <label>Update balance Due</label>
        </rules>
    </decisions>
    <interviewLabel>Amount Due Recalculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amount Due Recalculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Balance_Due_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Done__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
