force-app/main/default/flows/Invoice_Accepted_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Once a customer has requested high value order return, follow up with the customer to know his/her concern</description>
        <name>Contact_Customer</name>
        <label>Contact Customer Task</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Bill_To_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Employer__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow Up With Customer</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sd_0</name>
        <label>sd</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Contact_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approve_Returned_Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_The_Billed_Contact_0</name>
        <label>Send Email to The Billed Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_ShippedOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailRecipientforInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Order is Shipped</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_The_Billed_Contact_0_0</name>
        <label>Send Email to The Billed Contact</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_InvoiceForOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailRecipientforInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Invoice for your Order</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_The_Billed_Contact_0_0_0</name>
        <label>Send Email to The Billed Contact</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_OrderCancelled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailRecipientforInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Order is Cancelled</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_The_Billed_Contact_0_0_0_0</name>
        <label>Send Email to The Billed Contact</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbody_OrderReturned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailRecipientforInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Order is Returned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Balance amount initially is assigned total amount value so now subtract the paid amount to get balance amount</description>
        <name>sc_0</name>
        <label>Calculate Balance Amount</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRec.Balance_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>InvoiceRec.Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Invoiced_Flag_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_status_Change</name>
        <label>Order status Change</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Placed_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Invoice_for_Order_Accepted_0</targetReference>
            </connector>
            <label>Invoice Placed Order</label>
        </rules>
        <rules>
            <name>Invoiced_Order_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_The_Billed_Contact_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Invoiced Order Shipped</label>
        </rules>
        <rules>
            <name>Order_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_The_Billed_Contact_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Order Cancelled</label>
        </rules>
        <rules>
            <name>Returned_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_The_Billed_Contact_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Returned Order</label>
        </rules>
        <rules>
            <name>Order_returned_Need</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sd_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Order returned Need Manager Approval</label>
        </rules>
    </decisions>
    <description>Once a order is accepted it must be invoiced</description>
    <formulas>
        <name>sa</name>
        <dataType>Currency</dataType>
        <expression>{!InvoiceRec.Total_Amount__c} - {!InvoiceRec.Paid_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Invoice Accepted Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Accepted Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Once order accepted generate the invoice</description>
        <name>Generate_Invoice_for_Order_Accepted_0</name>
        <label>Generate Invoice for Order Accepted</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>InvoiceRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Invoice_Details_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Balance_Amount__c</field>
            <value>
                <elementReference>$Record.Total_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>$Record.Employer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_Details_0</name>
        <label>Get Invoice Details</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sc_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceRecordID</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>InvoiceRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Invoice_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Employer__c</queriedFields>
        <queriedFields>Paid_Amount__c</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
        <queriedFields>Balance_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Once invoice generated Set the flag to true</description>
        <name>Update_Order_Invoiced_Flag_0_0</name>
        <label>Update Order Invoiced Flag</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Send_Email_to_The_Billed_Contact_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>When a order is accepted a mail is sent to the billed contact with order and invoice details</description>
        <name>EmailBody_InvoiceForOrder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Bill_To_Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks for shopping with us. The Invoice for your placed Order is generated. Details are as below:&lt;/p&gt;&lt;p&gt;&lt;b&gt;Order Number : &lt;/b&gt;{!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Total Amount : &lt;/b&gt;{!$Record.Total_Amount__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Invoice ID :&lt;/b&gt; {!InvoiceRec.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Invoice Date : &lt;/b&gt;{!InvoiceRec.Invoice_Date__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Due Date :&lt;/b&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!InvoiceRec.Due_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Once order is cancelled , inform the customer about the same and update on refunds.</description>
        <name>EmailBody_OrderCancelled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear, {!$Record.Ship_To_Contact__r.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The order {!$Record.Name} is cancelled by you, we will process the refund in next 36 hrs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Once an order is marked return inform customer that return is approved and refund will be followed</description>
        <name>Emailbody_OrderReturned</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear, {!$Record.Ship_To_Contact__r.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The order {!$Record.Name} is returned by you, we will initiate the refund in 7 working days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Once a order is marked Shipped , the recipient of Order is marked mail stating the same and no cancellation is possible now.</description>
        <name>EmailBody_ShippedOrder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Ship_To_Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Order {!$Record.Name} is now Shipped. Please note that you cannot cancel the order now.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Aman &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailRecipientforInvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record__Prior.Bill_To_Contact__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>InvoiceRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>InvoiceRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
