force-app/main/default/flows/Pay_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payment_Completion_mail</name>
        <label>Payment Completion mail</label>
        <locationX>648</locationX>
        <locationY>424</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PaymentComplete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_Payment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>InvoicePaymentRecord.Invoice__r.Order__r.Bill_To_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Payment Status</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Calculate_Balance_Due</name>
        <label>Calculate Balance Due</label>
        <locationX>331</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>BalanceAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Payment_Amount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicePaymentRecord.Paid_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Amount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicePaymentRecord.Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Payment_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_Of_UnPaid_Invoices</name>
        <label>Number Of UnPaid Invoices</label>
        <locationX>613</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>CountOfUnpaidInvoices</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UnpaidInvoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Employer1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Upaid_Invoices_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Details</name>
        <label>Set Payment Details</label>
        <locationX>633</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectPaymentType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectPaymentType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Amount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Failure_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentFailureReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Payment_Status</name>
        <label>Check Payment Status</label>
        <locationX>155</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Create_Invoice_Payment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Failed</defaultConnectorLabel>
        <rules>
            <name>Payment_Successfully_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Invoice_Balance_due</targetReference>
            </connector>
            <label>Payment Successfully Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Upaid_Invoices_Count</name>
        <label>Check Unpaid Invoices</label>
        <locationX>712</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>List_of_Unpaid_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Has Unpaid Invoice Bills</defaultConnectorLabel>
        <rules>
            <name>No_record_FOund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfUnpaidInvoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Unpaid_Invoices</targetReference>
            </connector>
            <label>No record FOund</label>
        </rules>
    </decisions>
    <description>Use this flow to pay for invoices</description>
    <dynamicChoiceSets>
        <description>Unpaid invoices for selected Account</description>
        <name>UnpaidInvoicesforAccount</name>
        <dataType>String</dataType>
        <displayField>Name_Label__c</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Invoice__c</object>
        <outputAssignments>
            <assignToReference>BalanceAmount</assignToReference>
            <field>Balance_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoicePaymentRecord.Invoice__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceDate</assignToReference>
            <field>Invoice_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>if( {!PaymentStatus}==&apos;Success&apos;, &apos;Your payment is Successful.&apos;, &apos;Your payment has failed.&apos;)</expression>
    </formulas>
    <formulas>
        <name>PaymentFailureReason</name>
        <dataType>String</dataType>
        <expression>if({!PaymentStatus} == &apos;Failure&apos;,&apos;Insufficient account Balance&apos;,
if({!PaymentStatus} == &apos;Cancelled&apos;,&apos;Transaction times out&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <description>Decide Payment status based on amount paid and balance amoount.</description>
        <name>PaymentPartialOrFullFormula</name>
        <dataType>String</dataType>
        <expression>IF(({!numBD} &gt; {!munPA}) , &quot;Partially Paid&quot;, &quot;Fully Paid&quot;)</expression>
    </formulas>
    <formulas>
        <name>TransactionCompletionScreenMessage</name>
        <dataType>String</dataType>
        <expression>if( {!PaymentStatus}==&apos;Success&apos;,  {!testtexttemplatepaidSuc},{!texttempfail})</expression>
    </formulas>
    <interviewLabel>Pay Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pay Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Invoice_Payment</name>
        <label>Create Invoice Payment</label>
        <locationX>837</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Payment_Completion_mail</targetReference>
        </connector>
        <inputReference>InvoicePaymentRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Payment_0</name>
        <label>Create Invoice Payment</label>
        <locationX>172</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Payment_Completion_mail</targetReference>
        </connector>
        <inputReference>InvoicePaymentRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>492</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Calculate_Balance_Due</targetReference>
        </connector>
        <inputReference>PaymentRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>496</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_Of_UnPaid_Invoices</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>UnpaidInvoice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Balance_Amount__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_Invoice_Balance_due</name>
        <label>update Invoice Balance due</label>
        <locationX>483</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>update_order_detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance_Amount__c</field>
            <value>
                <elementReference>BalanceAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_order_detail</name>
        <label>update order detail</label>
        <locationX>632</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Create_Invoice_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoicePaymentRecord.Invoice__r.Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Done__c</field>
            <value>
                <elementReference>PaymentPartialOrFullFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Detail__c</object>
    </recordUpdates>
    <screens>
        <description>Use it to pay your invoices</description>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>385</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select the Account for getting the list of Invoiced bills&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>List of Unpaid Invoices for selected account</description>
        <name>List_of_Unpaid_Invoices</name>
        <label>List of Unpaid Invoices</label>
        <locationX>969</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PayAnInvoice</targetReference>
        </connector>
        <fields>
            <name>DisplayAcc</name>
            <fieldText>&lt;p&gt;{!recordId.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>List_of_Unpaid_Invoice</name>
            <choiceReferences>UnpaidInvoicesforAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>List of Unpaid Invoice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Unpaid_Invoices</name>
        <label>No Unpaid Invoices</label>
        <locationX>964</locationX>
        <locationY>31</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowErrorNoAccountFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 20, 20); font-size: 18px;&quot;&gt;No Account Found with specified Name&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;Aman&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PayAnInvoice</name>
        <label>Pay an Invoice</label>
        <locationX>786</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Payment_Details</targetReference>
        </connector>
        <fields>
            <name>DisplayAccountName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account Name1&lt;/b&gt;&lt;/p&gt;&lt;p&gt;﻿{!recordId.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceNumberLabel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Invoice Number&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayInvoiceNumber</name>
            <fieldText>&lt;p&gt;{!InvoiceNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayInvoiceDate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Invoice Date&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!InvoiceDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayBalanceAmount</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Balance Amount &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!BalanceAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Amount2</name>
            <dataType>Currency</dataType>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>SelectPaymentType</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Payment_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Payment Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PaymentComplete</name>
        <label>Payment Complete</label>
        <locationX>757</locationX>
        <locationY>512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalScreenAccountName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!recordId.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaymentCompleteMessage</name>
            <fieldText>&lt;p&gt;{!TransactionCompletionScreenMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>17</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody_Payment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!EmailBody}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Invoice Number : &lt;/b&gt;{!DisplayInvoiceNumber}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Amount Paid : &lt;/b&gt; {!Payment_Amount2}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>testtexttemplatepaidSuc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Payment_Amount2} has been paid for {!DisplayInvoiceNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>texttempfail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;payment failed for {!DisplayInvoiceNumber}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BalanceAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfUnpaidInvoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoicePaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Payment__c</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>munPA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Payment_Amount2</elementReference>
        </value>
    </variables>
    <variables>
        <name>numBD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>BalanceAmount</elementReference>
        </value>
    </variables>
    <variables>
        <name>PaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Failure</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UnpaidInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
