force-app/main/default/flows/Pay_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Number_Of_UnPaid_Invoices</name>
        <label>Number Of UnPaid Invoices</label>
        <locationX>717</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>CountOfUnpaidInvoices</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UnpaidInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Upaid_Invoices_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Upaid_Invoices_Count</name>
        <label>Check Upaid Invoices Count</label>
        <locationX>823</locationX>
        <locationY>4</locationY>
        <defaultConnector>
            <targetReference>List_of_Unpaid_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Has Unpaid Invoice Bills</defaultConnectorLabel>
        <rules>
            <name>No_record_FOund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfUnpaidInvoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Unpaid_Bills_For_Account</targetReference>
            </connector>
            <label>No record FOund</label>
        </rules>
    </decisions>
    <description>Use this flow to pay for invoices</description>
    <dynamicChoiceSets>
        <description>Unpaid invoices for selected Account</description>
        <name>UnpaidInvoicesforAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <limit>5</limit>
        <object>Invoice__c</object>
        <outputAssignments>
            <assignToReference>BalanceAmount</assignToReference>
            <field>Balance_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceDate</assignToReference>
            <field>Invoice_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Pay Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pay Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>607</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_Of_UnPaid_Invoices</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>UnpaidInvoice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Balance_Amount__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <description>List of Unpaid Invoices for selected account</description>
        <name>List_of_Unpaid_Invoices</name>
        <label>List of Unpaid Invoices</label>
        <locationX>846</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pay</targetReference>
        </connector>
        <fields>
            <name>DisplayAcc</name>
            <fieldText>&lt;p&gt;{!recordId.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>List_of_Unpaid_Invoice</name>
            <choiceReferences>UnpaidInvoicesforAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>List of Unpaid Invoice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Unpaid_Bills_For_Account</name>
        <label>No Unpaid Bills For Account</label>
        <locationX>1041</locationX>
        <locationY>8</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 20, 20); font-size: 18px;&quot;&gt;No Account Found with specified Name&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;Aman&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay</name>
        <label>Pay an Invoice</label>
        <locationX>655</locationX>
        <locationY>176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Account_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Invoice</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>InvoiceNumber</elementReference>
            </defaultValue>
            <fieldText>Invoice number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Invoice_Date</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>InvoiceDate</elementReference>
            </defaultValue>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Balance_Amount</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BalanceAmount</elementReference>
            </defaultValue>
            <fieldText>Balance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payment_Amount</name>
            <dataType>String</dataType>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Use it to pay your invoices</description>
        <name>Pay_an_Invoice</name>
        <label>Pay an Invoice</label>
        <locationX>392</locationX>
        <locationY>11</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select the Account for getting the list of Invoiced bills&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>63</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Pay_an_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BalanceAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfUnpaidInvoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UnpaidInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
