force-app/main/default/flows/Pay_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>success_mail</name>
        <label>Payment Status mail</label>
        <locationX>337</locationX>
        <locationY>664</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_Payment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Bill_To_contact_Email.Bill_To_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Payment Status</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Calculate_Balance_Due</name>
        <label>Calculate Balance Due</label>
        <locationX>632</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>BalanceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Status.Balance_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BalanceAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Payment_Amount2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Balance_due</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_Of_UnPaid_Invoices</name>
        <label>Number Of UnPaid Invoices</label>
        <locationX>802</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>CountOfUnpaidInvoices</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UnpaidInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Upaid_Invoices_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Status</name>
        <label>Set Payment Status</label>
        <locationX>733</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>PaymentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Payment_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Payment_Status</name>
        <label>Check Payment Status</label>
        <locationX>566</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Create_Payment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Failed</defaultConnectorLabel>
        <rules>
            <name>Payment_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment</targetReference>
            </connector>
            <label>Payment Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Upaid_Invoices_Count</name>
        <label>Check Upaid Invoices Count</label>
        <locationX>927</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>List_of_Unpaid_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Has Unpaid Invoice Bills</defaultConnectorLabel>
        <rules>
            <name>No_record_FOund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfUnpaidInvoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Unpaid_Bills_For_Account</targetReference>
            </connector>
            <label>No record FOund</label>
        </rules>
    </decisions>
    <description>Use this flow to pay for invoices</description>
    <dynamicChoiceSets>
        <description>Unpaid invoices for selected Account</description>
        <name>UnpaidInvoicesforAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Invoice__c</object>
        <outputAssignments>
            <assignToReference>BalanceAmount</assignToReference>
            <field>Balance_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceDate</assignToReference>
            <field>Invoice_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Decide Payment status based on amount paid and balance amoount.</description>
        <name>PaymentStatusFormula</name>
        <dataType>String</dataType>
        <expression>IF(({!numBD} &gt; {!munPA}) , &quot;Partially Paid&quot;, &quot;Fully Paid&quot;)</expression>
    </formulas>
    <interviewLabel>Pay Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pay Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Invoice_Payment</name>
        <label>Create Invoice Payment</label>
        <locationX>307</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>success_mail</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>UnpaidInvoicesforAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Amount__c</field>
            <value>
                <elementReference>Payment_Amount2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Success Payment</label>
        <locationX>376</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Get_Invoice_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Employer1__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>Payment_Amount2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_0</name>
        <label>Create Failure Payment</label>
        <locationX>572</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>Get_Invoice_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Employer1__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_reason__c</field>
            <value>
                <stringValue>Transaction timed out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>Payment_Amount2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Bill_To_contact_Email</name>
        <label>Get Bill To contact Email</label>
        <locationX>230</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_order_detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_Status.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Status</name>
        <label>Get Invoice Status</label>
        <locationX>365</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bill_To_contact_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Payment_Done__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Balance_Amount__c</queriedFields>
        <queriedFields>Paid_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>655</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_Of_UnPaid_Invoices</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>UnpaidInvoice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Balance_Amount__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_Balance_due</name>
        <label>update Balance due</label>
        <locationX>503</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Create_Invoice_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance_Amount__c</field>
            <value>
                <elementReference>BalanceAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_order_detail</name>
        <label>update order detail</label>
        <locationX>457</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Calculate_Balance_Due</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bill_To_contact_Email.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Done__c</field>
            <value>
                <elementReference>PaymentStatusFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>542</locationX>
        <locationY>673</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Account_Name3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Paymentstatus5</name>
            <fieldText>&lt;p&gt;{!ScreenMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>List of Unpaid Invoices for selected account</description>
        <name>List_of_Unpaid_Invoices</name>
        <label>List of Unpaid Invoices</label>
        <locationX>1038</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pay</targetReference>
        </connector>
        <fields>
            <name>DisplayAcc</name>
            <fieldText>&lt;p&gt;{!recordId.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>List_of_Unpaid_Invoice</name>
            <choiceReferences>UnpaidInvoicesforAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>List of Unpaid Invoice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Unpaid_Bills_For_Account</name>
        <label>No Unpaid Bills For Account</label>
        <locationX>1132</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 20, 20); font-size: 18px;&quot;&gt;No Account Found with specified Name&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;Aman&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay</name>
        <label>Pay an Invoice</label>
        <locationX>903</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Payment_Status</targetReference>
        </connector>
        <fields>
            <name>Account_Name2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Invoice</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>InvoiceNumber</elementReference>
            </defaultValue>
            <fieldText>Invoice number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Invoice_Date</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>InvoiceDate</elementReference>
            </defaultValue>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Balance_Amount</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BalanceAmount</elementReference>
            </defaultValue>
            <fieldText>Balance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payment_Amount2</name>
            <dataType>Currency</dataType>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Type</name>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Use it to pay your invoices</description>
        <name>Pay_an_Invoice</name>
        <label>Pay an Invoice</label>
        <locationX>557</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select the Account for getting the list of Invoiced bills&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>190</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Pay_an_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody_Payment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your payment is done. Details are as below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Invoice Number : &lt;/b&gt;{!Invoice}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Amount Paid : &lt;/b&gt; {!Payment_Amount2}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Payment_Amount2} paid Successfully against {!Invoice}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BalanceAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfUnpaidInvoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>munPA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Payment_Amount2</elementReference>
        </value>
    </variables>
    <variables>
        <name>numBD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>BalanceAmount</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UnpaidInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
